.pull-right{
    float: right !important;
}

.pull-left{
    float: left !important;
}

label{
    font-weight: 900;
}


.card{
    margin-top: 10px;
}
.card-header{
    text-align: center;
}

.watermark{
    position: absolute;
    top:50vh;
    opacity: 0.2;
    z-index: 99;
    color: #b75a58;
    font-size: 200px;
    transform: rotate(-43deg);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}